.assign-request-wrapper {
  .assign-request-title-wrapper {
    font-size: 20px;
    font-weight: bold;
    color: #019fb6;
    display: inline-block;
    padding-bottom: 5px;
  }
  .assign-request-title-wrapper:after{
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .assign-request-title-wrapper:hover:after{
    transform: scaleX(1);
  }
  .assign-request-title-wrapper:after{
    transform-origin:  0% 50%;
  }
}
