.view-assign-request-wrapper {
  .request-area-wrapper {
    margin-top: 20px;
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  // TODO: Please give me a className instead of directly using HTML-tag-name
}
