// No CSS
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
  width: 100%;
  height: auto;
  font-family:
    Roboto,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    sans-;
}
.layout-ant-wrapper {
  .link-menu-color-myrequest{
    color: #009688;
  }
  .link-menu-color-assign{
    color : #ff5722;
  }
  .site-layout {
    height: 100vh;
  }
  .ant-layout-header {
    padding-left: 30px !important;
    background-color: #fff !important;
    height: 64px !important;
    line-height: 64px !important;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.0625);
  }
  .ant-layout-sider-children{
    border-right:1px solid rgba(0,0,0,.0625);
  }
  .ant-menu-item {
    margin-top: 0 !important;
  }
  li.ant-menu-item.ant-menu-item-selected {
    margin: 0 0 8px 0 !important;
  }
  .ant-layout-content {
    padding: 24px 35px !important;
    min-height:initial;
  }
  .site-layout-background{
    height: auto;
  }
  .site-layout {
    height: 100vh;
    .site-layout-background-content {
      margin: 24px 16px;
    }
  }
}
.logo-wrapper {
  border-bottom : 1px solid rgba(0,0,0,.0625);
  color: #2196f3;
  font-size: 18px;
  font-weight: bold;
  font-family:
    Roboto,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  height: 64px;
  line-height: 64px;
}
.bell-i{
  font-size: 20px;
  border-radius: 50%;
  color: #d92550 !important;
  animation: example infinite;
  animation-duration: 2s;
  @keyframes example {
    0%   {transform: scale(1);} 
    25%  {transform: scale(1.1); }
    50%  {transform: scale(1.15);}
    75%  {transform: scale(1.1);}
    100% {transform: scale(1); }
  }
}

.avatar-header-left-wrapper {
  text-align: center;
  margin-bottom: 7px;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
.username-header-left-wrapper {
  text-align: center;
  font-size: 17px;
  color: #000;
}
.authorization-header-left-wrapper {
  font-size: 14px;
  color: #2196f3;
  text-align: center;
  font-weight: 500;
}
.flex-layout-header-wrapper {
  display: flex;
  align-items: center;
  .anticon{
    color: #72777a;
    &:hover{
      color: #313435;
    }
  }
  .right-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    .right-header-notification-wrapper {
      margin-right: 20px;
    }
    .right-header-username-wrapper {
      width: 100px;
      margin-right: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .right-header-avatar-username-wrapper {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
      display: flex;
      img{
        width: 30px;
        max-width: 30px;
      }
    }
  }
  .back-to-hrsol-wrapper {
    display: flex;
    height: 35px;
    width: 110px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #1890ff;
    color: #2196f3;
    margin: 0 0 0 20px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 400;
    outline: none;
  }
  .back-to-hrsol-wrapper:hover {
    color: #fff;
    background-color: #1890ff;
    border: 1px solid #fff;
  }
}
