.StaffBody {
  background-color: #fff;
  padding: 15px 30px 60px 30px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.0625) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  // margin-bottom: 20px;
  // margin-top: 20px;
  .ant-table-content {
    ::-webkit-scrollbar {
      width: 5px;
    }
    table {
      min-width: 1000px;
    }
  }
  .ant-table-pagination.ant-pagination {
    margin: 0;
    margin-bottom: 16px;
  }
}
