.StaffHeader {
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  .ant-select {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  width: 100%;
  margin-bottom: 20px;
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      margin-left: auto;
    }
    &-title {
      font-size: 20px;
      font-weight: bold;
      margin: 0px;
      color: #333;
      display: inline-block;
      .staff-header-icon {
        padding: 10px;
        margin-right: 15px;
        font-size: 15px;
        color: #00c292;
        border: 1px solid #00c292;
        border-radius: 50%;
      }
    }
    // &-title:after {
    //   display: block;
    //   content: "";
    //   border-bottom: solid 2px #333;
    //   transform: scaleX(0);
    //   transition: transform 250ms ease-in-out;
    // }
    // &-title:hover:after {
    //   transform: scaleX(1);
    // }
    // &-title:after {
    //   transform-origin: 0% 50%;
    // }
  }
  &__bottom {
    & .ant-btn {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }
    &-all {
      width: 200px;
      margin-right: 15px;
    }
    &-Passed {
      margin: 0 10px;
    }
    &-Time {
      margin: 0 10px;
    }
  }
}
